{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1>Anon Convo Starter</h1>
    <div v-if='!composeVisible'>
        <button type='button' v-on:click='compose'>I would like to speak</button>
    </div>

    <div class='hide-on-load'>
        <div id='compose-window' v-if='composeVisible'>
            <div class='prompt'>It would be great if</div>
            <textarea v-model='message'></textarea>
            <div>
                <button type='button' v-on:click='sendMessage' >Send</button>
                <button type='button' v-on:click='stopCompose' >Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
